h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

a {
    color: green;
}

del
{
    color: grey;
}

mark
{
    background-color: pink;
    color: darkblue;
}

h2
{
    text-align: left;
    font-family: sans-serif;
}

pre {
    font-family: monospace;
}

h3 {
    color: rgba(0,0,139,0.8);
}

.transparent-text {
    color: rgba(0,0,0,0.5)
}

body{
    background-color: #DCF5F5;
    background-image: url("cross.png");
}

#content {
    background-color: white;
    border: 1px darkgrey;
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

